/LibreriaMVC/.vs/LibreriaMVC/FileContentIndex/27a337d3-3fe6-4cc0-8dfa-6376a9b70ff9.vsidx
/LibreriaMVC/.vs/LibreriaMVC/v17/.futdcache.v2
/LibreriaMVC/.vs/LibreriaMVC/v17/.suo
/LibreriaMVC/.vs/ProjectEvaluation/libreriamvc.metadata.v7.bin
/LibreriaMVC/.vs/ProjectEvaluation/libreriamvc.projects.v7.bin
