@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Bienvenido a la Librería MVC</h1>
    <p class="lead">Tu destino para descubrir nuevos libros, autores fascinantes y mucho más.</p>
</div>

<div class="summary">
    <h3>Resumen</h3>
    <p>¡Explora nuestra amplia colección de libros y sumérgete en nuevas historias! En nuestra librería, encontrarás una variedad de géneros literarios, desde la fascinante ficción hasta la estimulante no ficción.</p>
    <p>Además, podrás conocer a los talentosos autores que han creado estas obras maestras y descubrir las editoriales que las respaldan.</p>
    <p>¡Empieza tu viaje literario hoy mismo!</p>
</div>
